.intro {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.intro h2 {
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.3;
}
.intro p {
  line-height: 1.5;
  letter-spacing: 0.7px;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}
