.footer{
    background: #191919;
    padding: 3rem 1rem;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-links span{
    color: white;
}
.links-container{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}